*{
 	padding: 0;
 	margin:0;
 	-webkit-box-sizing: border-box;
 	-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	

 }
 body{
 	margin: 0;
 	font-family: 'Muli', sans-serif;
 }


 .container{
 	max-width: 1000px;
 	flex: 1;
 	margin:0 auto;
 	display: inherit;
 	justify-content: inherit;
 	align-items: inherit;
 	height: inherit;
 	flex-direction: inherit;
 }

.header{
	width: 100%;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: space-between;

}
.header nav{
	margin: 0;
	align-items: center;
}

.header ul{
	list-style: none
}
.header li{
	display: inline-block;
	position: relative;
}
.header a{
	color: #999999;
	text-decoration: none;
	padding: 20px;
	font-weight: 700;

}
.header a:hover{
	color: #020202;

}

.hero{
	width: 100%;
	background-image: url('../images/hero.jpg');
	background-size: 100% 100%;
	background-position: center;
	height: calc(100vh - 150px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
.hero h1{
	

}
.subtitle-hero{
	font-size: 40px;
	margin-top: 10px;
	color: #563b3b;
	font-weight: 200;
}
.paragraph-hero{
	padding: 0 100px;
	margin-top: 20px;
	text-align: center;
	color: #5d4b54;
}
.hero a{
	margin-top: 50px;
	background: #ff3e53;
	text-decoration: none;
	color: #ffeaef;
	font-size: 20px;
	padding: 10px 70px;
	border: 1px solid #613d42;
	border-radius: 100px;
	font-weight: bold;
	


}

h1, h2{
	font-size: 40px;
	font-family: 'Archivo Black', sans-serif;
	font-size: 40px;
	color: #383838;
	font-weight: 900;

}
.offer{
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;


}
.offer h2{
	margin-top: 100px; 

}
.offer-subtitle{
	margin-bottom: 70px;

}

.paragraph-offer{
	text-align: center;
    padding: 0 100px;
}

.offer-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.offer-buttons{
	display: flex;
	justify-content: center;
	margin-top: 50px;

}
.offer a{

	text-decoration: none;
	color: #7f7f7f;
	font-size: 20px;
	font-weight: bold;
	padding: 10px 70px;
	border: 3px solid  #7f7f7f;
	border-radius: 100px;

}
.offer a:hover{
	background: #ff3e53;
	color: #ffeaef;
	border: 1.5px solid #613d42;


}
.link-offer.a{
	padding: 10px 51px;
	margin-left: 40px


}
.offer-imageContainer{
	text-align: center;
	margin-top: 50px;
}

.portfolio{
	background-color: #fafafa;
	height: 1000px;


}

.portfolio-titles{
	text-align: center;
	padding-top: 100px;
	margin-bottom: 60px;

}

.portfolio-details{
	display: flex;
	 flex-direction: column;
	background: #fff;
	height: 300px;
	width: 300px;
	padding: 35px;

}

#stack-icon{
	font-size: 40px;
	color: #5b5b5b;
	margin-bottom: 50px;
}

.portfolio-details h3{
	color: #606060;
	font-weight: 900;
	padding: 20px 0;

}

.subtitle-portfolio{
	color: #b0b0b0;
	text-transform: uppercase;	
} 

.portfolio-details p{
	color: #acacac;
	padding-bottom: 20px;
}

.portfolio-details a{
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #636363;
	font-weight: 900;
	width: 145px;

}
#arrow-icon{
	font-size: 25px;
	margin-left: 10px;
}
.portfolio-content{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 40px;

}




