*{
 	padding: 0;
 	margin:0;
 	-webkit-box-sizing: border-box;
 	-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	

 }
 body{
 	margin: 0;
 	font-family: 'Muli', sans-serif;
 }


 .container{
 	max-width: 1000px;
 	flex: 1;
 	margin:0 auto;
 	display: inherit;
 	justify-content: inherit;
 	align-items: inherit;
 	height: inherit;
 	flex-direction: inherit;
 }

.header{
	width: 100%;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: space-between;

}
.header nav{
	margin: 0;
	align-items: center;
}

.header ul{
	list-style: none
}
.header li{
	display: inline-block;
	position: relative;
}
.header a{
	color: #999999;
	text-decoration: none;
	padding: 20px;
	font-weight: 700;

}
.header a:hover{
	color: #020202;

}

.hero{
	width: 100%;
	background-image: url('../images/hero.jpg');
	background-size: 100% 100%;
	background-position: center;
	height: calc(100vh - 150px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
.hero h1{
	

}
.subtitle-hero{
	font-size: 40px;
	margin-top: 10px;
	color: #563b3b;
	font-weight: 200;
}
.paragraph-hero{
	padding: 0 100px;
	margin-top: 20px;
	text-align: center;
	color: #5d4b54;
}
.hero a{
	margin-top: 50px;
	background: #ff3e53;
	text-decoration: none;
	color: #ffeaef;
	font-size: 20px;
	padding: 10px 70px;
	border: 1px solid #613d42;
	border-radius: 100px;
	font-weight: bold;
	


}

h1, h2{
	font-size: 40px;
	font-family: 'Archivo Black', sans-serif;
	font-size: 40px;
	color: #383838;
	font-weight: 900;

}
h2{
	padding top: 100px;
}
.offer{
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;


}
.offer h2{
	margin-top: 100px; 

}
.offer-subtitle{
	margin-bottom: 70px;

}

.paragraph-offer{
	text-align: center;
    padding: 0 100px;
}

.offer-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.offer-buttons{
	display: flex;
	justify-content: center;
	margin-top: 50px;

}
.offer a{

	text-decoration: none;
	color: #7f7f7f;
	font-size: 20px;
	font-weight: bold;
	padding: 10px 70px;
	border: 3px solid  #7f7f7f;
	border-radius: 100px;

}
.offer a:hover{
	background: #ff3e53;
	color: #ffeaef;
	border: 1.5px solid #613d42;


}
.link-offer.a{
	padding: 10px 51px;
	margin-left: 40px


}
.offer-imageContainer{
	text-align: center;
	margin-top: 50px;
}

.portfolio{
	background-color: #fafafa;
	height: 1000px;


}

.portfolio-titles{
	text-align: center;
	padding-top: 100px;
	margin-bottom: 60px;

}

.portfolio-details{
	display: flex;
	 flex-direction: column;
	background: #fff;
	height: 300px;
	width: 300px;
	padding: 35px;

}

#stack-icon{
	font-size: 40px;
	color: #5b5b5b;
	margin-bottom: 50px;
}

.portfolio-details h3{
	color: #606060;
	font-weight: 900;
	padding: 20px 0;

}

.subtitle-portfolio{
	color: #b0b0b0;
	text-transform: uppercase;	
} 

.portfolio-details p{
	color: #acacac;
	padding-bottom: 20px;
}

.portfolio-details a{
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #636363;
	font-weight: 900;
	width: 145px;

}
#arrow-icon{
	font-size: 25px;
	margin-left: 10px;
}
.portfolio-content{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 40px;

}
.galery{
	height: 1300px;
}
.subtitle-galery{
	color: #b0b0b0;
	text-transform: uppercase;	
}

.galery-titles{
	padding-top: 100px;
	margin-bottom: 50px;
	text-align: center;

}

.galery-details{
	display: grid;
	grid-template-columns: 300px 300px 300px;
	grid-gap: 40px;
}

.subscribe{
	height: 400px;
	text-align: center;
	background-color: #fafafa;

}
.subscribe h2{
	padding-top: 100px
}


.subscribe p{
	margin-bottom: 50px;

}
.subscribe-form{
	display: flex;
	align-items: center;
	justify-content: center;

}

.subscribe textarea{
	height: 51px;
	width: 244px;
	padding: 10px;
	padding-left: 30px; 
	color: #7f7f7f;
	font-size: 20px;
	border: 3px solid  #7f7f7f;
	font-weight: 200;
	border-radius: 100px;
	margin-right: 30px;
	
}

.subscribe button{
	background: transparent;
	height: 51px;
	width: 244px;
	padding: 10px; 
	color: #7f7f7f;
	font-size: 18px;
	font-weight: 700;
	border: 3px solid  #7f7f7f;
	border-radius: 100px;


}

.subscribe button:hover{
	background: #ff3e53;
	color: #ffeaef;

}

.services{
	height: 900px;
}
.services-titles{
	padding-top: 100px;
	margin-bottom: 50px;
	text-align: center;

}
.sevices-bar{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 100px;

}

.bar-button{
	display: flex;
	align-items: center;
	padding:  0 20px;
	text-decoration: none;
	color:#616161;
	font-size: 25px;
	font-weight: 700;
	height: 50px;




}

.bar-button:hover{
	color:#df5864;
	border-bottom: 3pX solid #d45060;
	transition: .1s;
}

.service-contentContainer{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "servicesA image"
						 "servicesB image";
	align-content:center;



}

.services-content{
	grid-area: servicesA;
	display: flex;
	justify-content: center;
	flex-direction: column;

}

.services-content.b{
	grid-area: servicesB;

}
.services-title{
	margin-bottom: 20px;
	font-size: 18px;
	color:#727272;
	
}
.paragraph-services{
	margin-bottom: 20px;
	font-size: 14px;
	font-weight: 650;
	color:#a4a4a4;
}
#check-icon{
	margin-right: 20px;
	color:#ea4153;
}

.services-imageContainer{
	grid-area: image;
}
.services-image{
	box-shadow: 0 0 40px -10px;
    border: 10px solid white;
    color: #9d9d9d;
}

.team{
	height: 800px;

}
.team-titles{
	text-align: center;
	margin-bottom: 100px;
}

.person{
	display: flex;
	flex-direction: column;
	align-items: center;
    text-align: center;
    justify-content: center;
    height: 500px;

}

.persons{
	display: grid;
	grid-template-columns: 300px 300px 300px;
	grid-gap: 15px;
}

.person-details{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 5;
	bottom: 50px;
	background: #fff;
	width: 260px;
	padding: 25px;
	color: #6a6a6a;
	box-shadow: 0px 20px 30px -20px;
	
	
   
	
}
.link-person{
	display: none;
    justify-content: space-around;
    width: 80%;
}


/*.person-details:hover .link-person .person-details{
	display: flex;
	height: auto;
    background: #ff3d55;
    color: #ffe9ef;
}*/

#person-icons{
	text-decoration: none;
	color: black;
	font-size: 25px;
	color:#ffe9ef;

}
.person-name{
	margin-bottom: 3px;
	font-size: 16px;

}
.person p{
	font-size: 14px;
}
.pricing{
	height: 800px;

}

.pricing h2{
	text-align: center;
}
.subtitle-pricing{
	text-align: center;
}

.pricing-details{
	display: grid;
	grid-template-columns: 300px 300px 300px;
	justify-content: center;
	margin-top: 100px;
	grid-gap: 20px;
}
.prices{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #616161;
	padding:65px 10px;
	background: #f6f6f6;
}
.prices:hover{
	background: #fff;
	box-shadow: 0 0 25px -10px;

}
.prices-quantity{
	font-size: 70px;
	font-weight: 100;
	margin-bottom: 50px;
}

.price-sing{
	font-size: 20px;
	margin: 0 8px;	
}
.price-sing.a{
	position: relative;
	bottom: 30px;

}
.paragraph-prices{
	margin-bottom: 12px;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: .8px;
}
.link-prices{
	color: #7f7f7f;	
	margin-top: 50px;
	text-decoration: none;
	font-size: 20px;
	padding: 10px 60px;
	border: 1.5px solid #7f7f7f;
	border-radius: 100px;
	font-weight: bold;
	letter-spacing: .8px;
}
.link-prices:hover{
	color: #fff;
	background: #ff3d55;

}
.clients{
	height: 500px;
	background: #f6f6f6;
}
.clients h2{
	text-align: center;
	margin-bottom: 100px;
	align-items: center;
}

.client-ditails{
	background: #fff;
	display: grid;
	justify-content: center;
	grid-template-columns: 80px 750px 80px;
	grid-template-areas: ".       client      . "
						"buttonA contenido buttonB "
						" .        name        . ";


}

.client{
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background-image: url('../images/face.jpg');
	background-position: center;
	background-size: contain;
	grid-area: client;
	margin: 0 auto;
	position: relative;
	bottom: 60px;
}
.paragraph-client{
	text-align: center;
	grid-area: contenido;
	padding: 20px 0;
    position: relative;
    bottom: 28px;

}

.container-icon{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 15px;
	border-radius: 50%;
	border: 1px solid black;
	margin-left: 10px;
	grid-area: buttonA;
	height: 50%;
    width: 70%;
    position: relative;
    right: 85px;
}
.container-icon.b{
	grid-area: buttonB;
	right: 0;
	left: 88px;
}
#client-arrow{
	font-size: 18px;
}
.paragraph-work{
	grid-area: name;
	text-align: center;
	padding-bottom: 50px;
}










