*{
 	padding: 0;
 	margin:0;
 	-webkit-box-sizing: border-box;
 	-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	

 }
 body{
 	margin: 0;
 }

.header{
	width: 100%;
}
.header nav{
	display: flex;
	justify-content: flex-end;
	margin: 0;
	align-items: center;
	width: 100%
}

